@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.body{
    background-color: #FFFFE0;
}
.header{
    background-color: rgb(0,191,255);
    font-family: Impact, fantasy;
    color: rgb(255,250,240);
    font-size: 36px;
    height :80px;
    weight: 100%;
    text-shadow: 3px 2px 2px #000;
    display: flex;
    align-items:center;
}

.header_2{
    font-family: Impact, fantasy;
    color: rgb(255,250,240);
    font-size: 22px;
    text-align:right;
    text-shadow: 3px 2px 2px #000;
    background-color:rgb(0,191,255);
    width:400px;
    position:absolute;
    margin-top:-70px;
    margin-left:820px;
}

.header_3{
    font-family: Impact, fantasy;
    color: rgb(255,250,240);
    font-size: 22px;
    text-align:right;
    text-shadow: 3px 2px 2px #000;
    background-color:rgb(0,191,255);
    width:400px;
    position:absolute;
    margin-top:-35px;
    margin-left:820px;
}
.header_4{
    font-family: Impact, fantasy;
    color: rgb(255,250,240);
    font-size: 22px;
    text-align:right;
    text-shadow: 3px 2px 2px #000;
    background-color:rgb(0,191,255);
    width:400px;
    position:absolute;
    margin-top:-35px;
    margin-left:730px;
}

.header_text{
    margin-left:20px;
    text-decoration: none;
    color:white;
}

.header_text_2{
    margin-left:20px;
    text-decoration: none;
    color:#FFD1D1;
}

.user_form{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    border-radius:  25px;
    background: #C8F5C8;
    position:relative;
}

.user_form_title{
    font-family: 'Bebas Neue', cursive;
    color: #54a350;
    font-size: 36px;
    margin-top: 30px;
    width:100%;
    text-align:center;

    border-radius: 25px;
    background: none;
    position:absolute;
}

.form-group{
    width:100%;
    margin:auto;
    margin-bottom:30px;
    border:0px;
    position:relative;

}

.checkbox{
    width:100%;
    margin:auto;
    margin-left:95px;
    margin-bottom:30px;
    border:0px;
    position:relative;
    font-family: 'Bebas Neue', cursive;
    color: #54a350;
    font-size: 24px;
    display: inline-block;

}

.input_checkbox{
    margin-left:10px;
    display: inline-block
}

.form-control{
    height:25px;
    width: 210px;
    border-radius:10px;
    vertical-align:center;
    position:absolute;
    margin-left:5px;
    margin-top:-1px;
    border: 2px solid #cccccc;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    padding-left: 9px;

}

label{
    font-family: 'Bebas Neue', cursive;
    color: #54a350;
    font-size: 24px;
    display: inline-block;
    width: 150px;
    text-align: right;
}

.inputs{
    position:absolute;
    width:100%;
    margin-top:100px;
    margin-left:-30px;
}
.main_button {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    color:#382b22;
    margin-top:20px;
    width: 100px;
    height: 50px;
    background-color:#fff0f0;
    border-radius:7px;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

.main_button::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;

}

.main_button:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}
.main_button:hover::before {
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform: translate3d(0, 0.5em, -1em);
}

.main_button:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}
.main_button:active::before {
    box-shadow:  0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}

.button_position{
    position:absolute;
    margin-left:180px;
    margin-top:-25px;

}